<div id="sobre-mim" class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-900 font-bold text-5xl mb-3">Sobre mim</div>
    <div class="text-700 text-2xl mb-5">
      Sou um <strong>Frontend Developer</strong> apaixonado por desenvolvimento
      web e tecnologias de ponta, atualmente cursando Tecnólogo em
      <strong>Análise e Desenvolvimento de Sistemas</strong> na Descomplica e
      <strong>Gestão de Tecnologia da Informação</strong> na Unipar EAD. Com
      experiência em
      <strong>HTML, CSS, JavaScript, Angular, Tailwind e Bootstrap</strong>,
      desenvolvo interfaces web responsivas e visualmente atraentes. Tenho
      também conhecimento em <strong>Sass, Scss, Git, e npm</strong>, o que me
      permite otimizar o processo de desenvolvimento e garantir a qualidade do
      código. Além disso, possuo conhecimentos em <strong>TypeScript</strong> e
      um entendimento básico de <strong>React, Node.js, PHP, SQL e C#.</strong>
    </div>
  </div>
</div>
