<div id="projetos" class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-5xl mb-3 text-center">Projetos</div>
  <div class="grid justify-content-center">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Pearson Hardman</span>
            <div class="card flex justify-content-center">
              <p-image
                src="/assets/images/projetos/pearsonHardman.png"
                alt="Image"
                width="250"
              />
            </div>
            <ul class="projeto-habilidades">
              <img
                class="teste"
                src="/assets/images/linguagens/html5.svg"
                alt="angular"
                width="40"
              />
              <img
                src="/assets/images/linguagens/css.svg"
                alt="Javascript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/javascript.svg"
                alt="Typescript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/bootstrap.svg"
                alt="Sass"
                width="40"
              />
            </ul>
          </div>
        </div>
        <p-divider />
        <div class="flex justify-content-center gap-3">
          <a
          href="https://github.com/LuizFs01/PersonHardman"
          target="_blank"
          type="p-button"
          class="p-button pi pi-github"
        ></a>
        <a
          href="https://person-hardmanlf.vercel.app/"
          target="_blank"
          type="p-button"
          class="p-button pi pi-external-link"
        ></a>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Check Space AI</span>
            <div class="card flex justify-content-center">
              <p-image
                src="/assets/images/projetos/checkSpace.png"
                alt="Image"
                width="250"
              />
            </div>
            <ul class="projeto-habilidades">
              <img
                class="teste"
                src="/assets/images/linguagens/html5.svg"
                alt="angular"
                width="40"
              />
              <img
                src="/assets/images/linguagens/css.svg"
                alt="Javascript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/javascript.svg"
                alt="Typescript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/bootstrap.svg"
                alt="Sass"
                width="40"
              />
            </ul>
          </div>
        </div>
        <p-divider />
        <div class="flex justify-content-center gap-3">
          <a
            href="https://github.com/LuizFs01/CheckSpeechAI"
            target="_blank"
            type="p-button"
            class="p-button pi pi-github"
          ></a>
          <a
            href="https://check-speech-ai-tan.vercel.app/"
            target="_blank"
            type="p-button"
            class="p-button pi pi-external-link"
          ></a>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Portfólio</span>
            <div class="card flex justify-content-center">
              <p-image
                src="/assets/images/projetos/portfolio.png"
                alt="Image"
                width="250"
              />
            </div>
            <ul class="projeto-habilidades">
              <img
                class="teste"
                src="/assets/images/linguagens/angular.svg"
                alt="angular"
                width="40"
              />
              <img
                src="/assets/images/linguagens/javascript.svg"
                alt="Javascript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/typescript.svg"
                alt="Typescript"
                width="40"
              />
              <img
                src="/assets/images/linguagens/sass.svg"
                alt="Sass"
                width="40"
              />
            </ul>
          </div>
        </div>
        <p-divider />
        <div class="flex justify-content-center gap-3">
          <p-button icon="pi pi-github"></p-button>
          <p-button icon="pi pi-external-link"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
